body{
  background: url()  no-repeat  center;
      background-size: cover;
    background-color:#00A4FF;
    position: relative;
  }
  ul {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    text-transform: uppercase;
    font-weight: bold;
    color:yellow;
    font-size: 0.875em;
    text-decoration: none;
    padding: 1em;
    white-space: nowrap;
    letter-spacing: 1px;
  }
  
  ul li a:hover {
    border-bottom: 3px solid #fff;
  }
  .line{
    text-align:center;
    color:#fff;
  }
  .player{
    color:#fff;
    font-weight: bold;
    font-size: 1.175em;
    letter-spacing: 1px;
    margin-top:500px;
  }
  .player{
    margin-top:810px
  }
  .line{
    margin-top:-850px
  }